@page
@using DotnetMonitorConfiguration.Models
@model ActionSelectionModel
<form method="post">
  <div class="row-narrow">
        <div class="label">Action Selection</div>
        <a href="https://github.com/dotnet/dotnet-monitor/blob/main/documentation/configuration.md#actions" target="_blank" class="sub-label">Learn More</a>

    <fieldset>
        @foreach(var actionType in General._actionTypes)
        {
            <button class="submit-button" type="submit" asp-route-data=@actionType asp-page-handler="Way2" id="submitButton">@actionType</button>
        }
    </fieldset>
  </div>
</form>