@page
@using DotnetMonitorConfiguration.Models
@model ActionCreationModel

<form method="post">
    <fieldset>
        <div class="text-center">
            <button class="submit-button" type="submit" asp-page-handler="NewAction">New Action</button>
            <button class="submit-button" type="submit" asp-page-handler="Done">Done Adding Actions</button>
        </div>
    </fieldset>

    <div class="row-narrow">
        <div class="label">Actions</div>
    @{
            int index = 0;
    }

    @foreach(var crAction in General._collectionRules[ActionCreationModel.collectionRuleIndex]._actions)
    {
        <div class="column-wide">
            @{string val = (string.IsNullOrEmpty(crAction.Name)) ? crAction.GetType().Name : crAction.Name;}
            <button class="button" type="submit" asp-route-data=@index.ToString() asp-page-handler="ActionSelect">@val</button>
        </div>

        <div class="column-ultra-narrow">
            <button class="delete-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Delete">X</button>
        </div>

        <div class="column-ultra-narrow">
            <button class="misc-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Down">▼</button>
        </div>

        <div class="column-ultra-narrow">
            <button class="misc-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Up">▲</button>
        </div>

        ++index;
    }
    </div>
</form>

