@page
@using DotnetMonitorConfiguration.Models
@model ActionCreationModel

<form method="post">
    <fieldset>
        <div class="text-center">
            <button class="submit-button" type="submit" asp-route-data="Submit" asp-page-handler="Way2" id="submitButton">New Action</button>
            <button class="submit-button" type="submit" asp-route-data="Submit" asp-page-handler="Way3" id="submitButton">Done Adding Actions</button>
        </div>
    </fieldset>

    <div class="row-narrow">

        <div class="label">Actions</div>
    
        @{
              int index = 0;
        }

        @foreach(var crAction in General._collectionRules[ActionCreationModel.collectionRuleIndex]._actions)
        {
            <div class="column-wide">
                 <button class="button" type="submit" asp-route-data=@index.ToString() asp-page-handler="ActionSelect" id="submitButton">@crAction.GetType().Name</button>
            </div>

            <div class="column-ultra-narrow">
                 <button class="delete-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Delete" id="submitButton">X</button>
            </div>

            <div class="column-ultra-narrow">
                <button class="misc-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Down" id="submitButton">▼</button>
            </div>

            <div class="column-ultra-narrow">
                <button class="misc-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Up" id="submitButton">▲</button>
            </div>

            ++index;
        }
    </div>
</form>

