@page
@using DotnetMonitorConfiguration.Models
@model CollectionRuleCreationModel

<form method="post">
    <div class="row-narrow">
        <div class="label">Name</div>
        <div class="sub-label">This is the name of your collection rule. It's meant to help you more easily identify your rules.</div>

        @{
            string nameValue = (CollectionRuleCreationModel.collectionRuleIndex != -1) ? General._collectionRules[CollectionRuleCreationModel.collectionRuleIndex].Name : "";
        }

        <fieldset>
            <input class-name="text-field" asp-for="Name" placeholder="Name" value=@nameValue/>
        </fieldset>

    </div>
    <button class="submit-button" type="submit" asp-page-handler="Way2">Submit</button>
</form>

