@page
@using DotnetMonitorConfiguration.Models
@model CollectionRuleCreationModel

<form method="post">
    <fieldset>
        <input asp-for="Name" placeholder="Name" value=""/>
    </fieldset>

    <button class="button" type="submit" asp-route-data="Submit" asp-page-handler="Way2" id="submitButton">Submit</button>
</form>
