@page
@using DotnetMonitorConfiguration.Models
@using System.ComponentModel.DataAnnotations
@model FilterConfigurationModel

<form method="post">
    <div class="row-narrow">
      <fieldset>
        @{
            int index = 0;
        }
        @foreach(var propertyInfo in FilterConfigurationModel.GetConfigurationSettings())
        {
            Type currType = General.GetType(@propertyInfo.PropertyType);

            bool isRequired = Attribute.IsDefined(propertyInfo, typeof(RequiredAttribute));

                string nameValue = propertyInfo.Name + ((isRequired) ? "*" : "");
                
                <div class="label">@nameValue</div>                    

                <div class="sub-label">@General.GetFormatDescription(currType)</div>

                string val = FilterConfigurationModel.GetCurrValue(propertyInfo);

                if (currType.IsEnum || (currType == typeof(bool)))
                {
                    List<string> names = General.GetEnumNames(currType, isRequired);

                    <select asp-for=properties[index.ToString()]>
                    @foreach (var enumName in names)
                    {
                        bool isSelected = val.Equals(enumName, StringComparison.CurrentCultureIgnoreCase);
                        <option value=@enumName selected=@isSelected>@enumName</option>
                    }
                </select>
            }
            else
            {
                <input asp-for=properties[index.ToString()] placeholder=@propertyInfo.Name value=@val/>
            }
            <br />
            ++index;
        }
        
        <button class="button" type="submit" asp-page-handler="Submit">Submit</button>

      </fieldset>
    </div>
</form>