@page
@using DotnetMonitorConfiguration.Models
@model FilterCreationModel

<form method="post">
    <fieldset>
        <div class="text-center">
            <button class="submit-button" type="submit" asp-page-handler="NewFilter" id="submitButton">New Filter</button>
            <button class="submit-button" type="submit" asp-page-handler="Done" id="submitButton">Done Adding Filters</button>
        </div>
    </fieldset>

    <div class="row-narrow">

        <div class="label">Filters</div>
    
        @{
              int index = 0;
        }

        @foreach(var crFilter in General._collectionRules[FilterCreationModel.collectionRuleIndex]._filters)
        {
            <div class="column-ultra-wide">
                 <button class="button" type="submit" asp-route-data=@index.ToString() asp-page-handler="FilterSelect">@crFilter.Key</button>
            </div>

            <div class="column-ultra-narrow">
                 <button class="delete-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Delete">X</button>
            </div>

            ++index;
        }
    </div>
</form>
