@page
@using DotnetMonitorConfiguration.Models
@using System.ComponentModel.DataAnnotations
@model LimitConfigurationModel

<form method="post">
  <div class="row-narrow">
    <fieldset>
        @{
            int index = 0;
        }
        @foreach(var propertyInfo in LimitConfigurationModel.GetConfigurationSettings())
        {
            Type currType = General.GetType(@propertyInfo.PropertyType);

            string nameValue = General.GenerateNameValue(propertyInfo);

            <div class="label">@nameValue</div>

            <div class="sub-label">@General.GetFormatDescription(currType)</div>

            string val = LimitConfigurationModel.GetCurrValue(propertyInfo);

            if (currType.IsEnum || (currType == typeof(bool)))
            {
                List<string> names = General.GetEnumNames(currType, Attribute.IsDefined(propertyInfo, typeof(RequiredAttribute)));

                <select asp-for=properties[index.ToString()]>
                @foreach (var enumName in names)
                {
                    bool isSelected = val.Equals(enumName, StringComparison.CurrentCultureIgnoreCase);
                    <option value=@enumName selected=@isSelected>@enumName</option>
                }
                </select>
            }
            else
            {
                <input asp-for=properties[index.ToString()] placeholder=@propertyInfo.Name value=@val/>
            }
            <br />
            ++index;
        }
        
   </fieldset>
  </div>

  <button class="submit-button" type="submit" asp-page-handler="Submit" id="submitButton">Submit</button>

</form>