@page
@using DotnetMonitorConfiguration.Models
@model StartModel

<form method="post">
    <fieldset>
        <div class="text-center">
            <button class="submit-button" type="submit" asp-page-handler="NewCollectionRule">New Collection Rule</button>
        </div>
    </fieldset>
</form>


<div class="row-narrow">
    <form method="post">
        @{
            int index = 0;
        }

        <div class="label">Collection Rules</div>

        @{
            StartModel.FilterBadCRs();
        }

        @foreach(var collectionRule in General._collectionRules)
        {
            <div class="column-ultra-wide">
                    <button class="button" type="submit" asp-route-data=@index.ToString() asp-page-handler="SelectCollectionRule">@collectionRule.Name</button>
            </div>

            <div class="column-ultra-narrow">
                    <button class="delete-button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Delete">X</button>
            </div>

            ++index;
        }
    </form>
 </div>

 <br />

 <div class = "row-narrow">

    <div class="label">JSON Output</div>

    <div><pre><code>@StartModel.GenerateJSON()</code></pre></div>
</div>
