@page
@using DotnetMonitorConfiguration.Models
@model StartModel

<form method="post">
    <fieldset>
        <div class="text-center">
            <button class="button" type="submit" asp-route-data="Submit" asp-page-handler="Way2" id="submitButton">New Collection Rule</button>
        </div>
    </fieldset>
</form>


<div class="row">
  <div class="column">
      @{
          int index = 0;
       }
      @foreach(var collectionRule in General._collectionRules)
       {
         <button class="button" type="submit" asp-route-data=@index.ToString() asp-page-handler="Way3" id="submitButton">@collectionRule.Name</button>

         ++index;
       }
  </div>
  <div class="column"><pre><code>@StartModel.GenerateJSON()</code></pre></div>
</div>
