@page
@using DotnetMonitorConfiguration.Models
@model TraceConfiguration1Model
<form method="post">
  <div class="row-narrow">
        <div class="label">Trace Selection</div>
        <a href="https://github.com/dotnet/dotnet-monitor/blob/main/documentation/configuration.md#collecttrace-action" target="_blank" class="sub-label">Learn More</a>

    <fieldset>
        <button class="submit-button" type="submit" asp-page-handler="Profile">Profile</button>
        <button class="submit-button" type="submit" asp-page-handler="Providers">Providers</button>
    </fieldset>
  </div>
</form>