/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 100;
    src: local("Segoe UI");
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-align: center;
    display: block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.button {
    background-color: #01A6F0;
    width: 100%;
}

.delete-button {
    background-color: #DD0000;
    box-shadow: 0px 0px 0px 1px #E5E5E5;
    width: 100%;
}

.misc-button {
    background-color: #CCC;
    box-shadow: 0px 0px 0px 1px #E5E5E5;
    width: 100%;
}

.submit-button {
    background-color: #01A6F0;
    box-shadow: 0px 0px 0px 1px #E5E5E5;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.submit-button-highlighted {
    background-color: #444;
    box-shadow: 0px 0px 0px 1px #E5E5E5;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.button:hover {
    background-color: #0076B0;
}

.submit-button:hover {
    background-color: #0076B0;
}

.submit-button-highlighted:hover {
    background-color: #222;
}

.delete-button:hover {
    background-color: #BB0000;
}

.misc-button:hover {
    background-color: #AAA;
}

input
{
    background-color: #D2D2D2;
    border-radius: 5px;
    border-width: 0px;
    border-color: #EEE;
    height: 50px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 90%;
}

button {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border: none;
    box-shadow: 0px 0px 0px 1px #E5E5E5;
    text-align: center;
    display: block;
    vertical-align: middle;
    align-content: center;
    padding: 14px 0px;
    cursor: pointer;
    color: #FFF;
    transition-duration: 0.4s;
}

select {
    background-color: #D2D2D2;
    border-radius: 5px;
    border-width: 0px;
    border-color: #EEE;
    height: 50px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
    width: 90%;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.column-wide {
    float: left;
    width: 70%;
    padding: 5px;
}

.column-ultra-wide {
    float: left;
    width: 90%;
    padding: 5px;
}

.column-narrow {
    float: left;
    width: 30%;
    padding: 5px;
}

.column-ultra-narrow {
    float: left;
    width: 10%;
    padding: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    background-color: #F1F1F1;
}

/* Clear floats after the columns */
.row-narrow:after {
    content: "";
    display: table;
    clear: both;
}

.row-narrow {
    background-color: #F1F1F1;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}

.label {
    font-size: 28px;
    text-align: center;
}

.sub-label {
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    color: #777;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
