@page
@using DotnetMonitorConfiguration.Models
@model CollectionRulesModel

<form method="post">
  <div class="row-narrow">
    <div class="label">Getting Started</div>
    <br />
     <fieldset>
        <button class="submit-button" type="submit" asp-page-handler="LoadJSON">Load JSON</button>
        <button class="submit-button" type="submit" asp-page-handler="Start">Start From Scratch</button>
    </fieldset>
  </div>
</form>

<script src="_framework/blazor.server.js"></script>
