@page
@using DotnetMonitorConfiguration.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
  <div class="row-narrow">
    <div class="label">Choose Your Configuration</div>
    <br />
     <fieldset>
        <button class="submit-button" type="submit" asp-page-handler="CollectionRules">Collection Rules</button>
    </fieldset>
  </div>
</form>

<script src="_framework/blazor.server.js"></script>
