@page
@using DotnetMonitorConfiguration.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="button" asp-area="" asp-page="/CollectionRules">Collection Rules</a>
</div>

<script src="_framework/blazor.server.js"></script>