@page
@model LoadJsonModel
@{
    ViewData["Title"] = "Load JSON";
}

<form method="post">
    <div class="row-narrow">
      
        @if (LoadJsonModel.failedState)
        {
            <div class="error-label">Invalid JSON. Please try again or start a new configuration.</div>
        }
        <fieldset>
            <input asp-for=JsonRules placeholder="Your Json Here..."/>
        </fieldset>
        <div class="sub-label">To begin, copy your rules from your configuration (not including the "CollectionRules" header). Then, put a { before the first rule, and a } after the last rule. You'll be automatically informed if your JSON is valid.</div>
    </div>

    <button class="submit-button" type="submit" asp-page-handler="ConvertJSON">Submit</button>
</form>