@using Microsoft.AspNetCore.Components.Web
@using DotnetMonitorConfiguration.Models.Collection_Rules
@using DotnetMonitorConfiguration.Models

@foreach(var triggerType in General._triggerTypes)
{
    <button @onclick="(e => SelectTrigger(triggerType))"
        data-toggle="modal" data-target="#productModal" class="button">@triggerType</button>
        Console.WriteLine("Hit1");
}

@code
{
    void SelectTrigger(string triggerType)
    {
        CollectionRule temp = new CollectionRule(Guid.NewGuid().ToString());
        General._collectionRules.Append(temp);
        Console.WriteLine("Test");
    }
}